*{
    -webkit-font-smoothing: subpixel-antialiased;
}

/* NAVBAR */

/* Remove the navbar's default margin-bottom and rounded borders */ 
#main {
margin-bottom: 0px;
border-radius: 0px;
}
/*END NAVBAR */
/*HEADER*/
#rewire{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: x-large;
}
/*END HEADER*/
/* COPY */
.highlights-row{
    background-color: lightblue;
    color: white;
    margin: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.highlights{
    width: 80%;
}
.boxes{
    padding: 5px;
    margin: 0px;
    width: 200px;
    height: 200px;
}
.link-box{

}
.post-box{
    font-family: 'Times New Roman', Times, serif;
    background: lightblue;
    color: white;
    border: white 5px solid;
    transition: cubic-bezier(0.47, 0, 0.745, 0.715);
    transition-duration: 100ms;
}
.post-box:hover{
    color: lightblue;
    background-color: white;
    border: lightblue 8px solid;
}
.image-box{
    
}
/* END COPY */
/* FOOTER */
footer {
margin-top: 0px;
background-color: #f2f2f2;
padding: 10px;
/*color: white;*/
}

.social-bar{
font-family: "Roboto";
color: white;
text-align: right;
float: right;
padding:15px;
}
.social-bar a{
vertical-align: top;
display: inline;
}
.social-bar .fa {
padding:10px 14px;
-o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
transition: .5s;
font-size: 20px;
width: 25px;
height: 25px;
text-align: center;
text-decoration: none;
color:darkgray;
}
.social-bar .fa:hover{  
color: white;
background-color: darkgray;
}
      
/*END FOOTER*/